@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body,html{
    padding: 0;
    margin: 0;
}

body{
    background-color: #373737;
}

/* Header */
header{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 15px;
    z-index: 10000;
}
header .logo img{
    width: 50px;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

nav .active{
    color: #77C2AF;
}

nav .color{
    color: #5d5d5d;
    transition: color 0.3s ease-in-out;
}

nav .color:hover{
    color: #77C2AF;
}

.resaux-sociaux{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.resaux-sociaux .color{
    color: #5d5d5d;
    transition: color 0.3s ease-in-out;
}

.resaux-sociaux .color:hover{
    color: #77C2AF;
}

/* Header */

/* Main */

main{
    margin-left: 80px;
}

/* Main */

/* Projets */

main h1{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 58px;
    text-transform: uppercase;
    text-align: center;
}

.cartes{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 45px;
    margin-left: 35px;
}

.carte{
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
    padding: 15px;
    margin-top: 15px;
    gap: 15px;
}

.carte-img img{
    width: 25vw;
    border-radius: 15px 15px 0 0;
}

.carte-texte .titre h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.carte-texte p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-align: justify;
}

.carte-btn a{
    text-decoration: none;
    color: #77C2AF;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    border: #77C2AF 2px solid;
    padding: 9px 8px 6px 8px;
    font-size: 20px;
}

.carte-btn{
    margin-bottom: 15px;
}

.haut-texte{
    display: flex;
    justify-content: space-between;
}

.carte-texte .date h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

/* Projets */